// 导航
.navBar {
  width: 100%;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  background: rgba(#007aff, .9);
}

.navBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .navBarWrapper {
    margin: 0 15px;
  }
}

.logo {
  margin-right: 50px;
}

.navBarLeft {
  display: flex;
  align-items: center;
  height: 100%;

  a {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.navBarRight {
  display: flex;
  align-items: center;
}

.navItem {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  font-size: 16px;
  text-shadow: 0 0 5px rgba(0, 0, 0, .3);
  margin-left: 5px;

  &:hover {
    background-color: rgba(0, 0, 0, .1)
  }
}

.navItemisActive {
  @extend .navItem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .1)
}

// 底部
.footer {
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-top: 50px;

  a {
    color: #333;
  }
}


// 团队优势
.advantage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    height: 180px;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 0 10px 20px;
    flex: 1;
    min-width: 180px;
    background: url("/small_bg_1.jpeg") no-repeat #fff;
    background-size: cover;

    &>div {
      width: 100%;
      height: 100%;
      padding: 15px;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, .85);
    }
  }

}

.youshiTit {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.youshiCon {
  font-size: 15px;
  color: #333;
  margin-top: 10px;
  line-height: 1.5;
}